
main article img {
  border-radius: 100px;
  float:left;
  margin:0 1em 1em 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.vertical-align {
  padding-top:15px;
}

#video iframe {
  float:left;
  margin:0  1em 1em 0;
}

#contact-aside {
  font-style: italic;
  background-color: #f2f2f2;
  margin-top: 50px;
  padding:20px 20px 20px 20px;
  width: 380px;
  float: left;
}

@media screen and (max-width: 800px) {
  #contact-aside {
  margin: 1em 0;
  width: 100%;
  }
  
  #video iframe {
    float: none;
    display: block;
    margin: 0 auto;
  }
  
  #video > * {
    text-align: center;
  } 
}

@media screen and (min-height: 1000px) {
    #contact-aside {
  margin: 1em 0;
  width: 100%;
  }
  
  #video iframe {
    float: none;
    display: block;
    margin: 0 auto;
  }
  
  #video > * {
    text-align: center;
  }

    iframe {
      height:500px;
      width:600px;
    }
}
}