
main article img {
  border-radius: 100px;
  float:left;
  margin:0 1rem 1rem 0;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.3), 0 0.37rem 1.25rem 0 rgba(0, 0, 0, 0.2);
}

.vertical-align {
  padding-top:0.93rem;
}

#video iframe {
  float:left;
  margin:0  1rem 16px 0;
}

#contact-aside {
  font-style: italic;
  background-color: #f2f2f2;
  margin-top: 3.13rem;
  padding:1.25rem 20px;/*rem for vertical padding and margin px for others-search internet for strategically usage of rem-em-px*/
  width: 23.125rem;
  float: left;
}

@media screen and (max-width: 50rem) {
  #contact-aside {
  margin: 1rem 0;
  width: 100%;
  }
  
  #video iframe {
    float: none;
    display: block;
    margin: 0 auto;
  }
  
  #video > * {
    text-align: center;
  } 
}

@media screen and (min-height: 62.5rem) {
    #contact-aside {
  margin: 1rem 0;
  width: 100%;
  }
  
  #video iframe {
    float: none;
    display: block;
    margin: 0 auto;
  }
  
  #video > * {
    text-align: center;
  }

    iframe {
      height:31.25rem;
      width:37.5rem;
    }
}
}