body {
  font-family: sans-serif;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 500px; /* Adjust as needed */
}

h2 {
  color: #3498db;
  text-align: center;
}

.result-item {
  margin-bottom: 10px;
  padding: 8px;
  border-bottom: 1px solid #eee; /* Light gray separator */
}

.result-item strong {
  color: #333; /* Dark gray for labels */
  margin-right: 10px;
}

.result-item span {
   color: #555; /* Slightly lighter gray for values */
}

.close-button {
    background-color: #3498db; /* Blue button */
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px; /* Add some space above the button */
    display: block; /* Make the button a block element */
    margin-left: auto;
    margin-right: auto;
}

.close-button:hover {
  background-color: #2980b9; /* Darker blue on hover */
}

button {
  background-color: #3498db; /* Blue button */
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

